@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

  body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;

    font-family: 'Titillium Web', sans-serif;

    background-image: url(../img/Sprinkle.svg);
    background-size: cover;

    /* DISABLE ELEMENT SELECTION WITH MOUSE */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    user-select: none;
  }

  a {
    text-decoration: none;
  }

  .container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: minmax(20%, 20%) 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% minmax(20%, 20%);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  
  .header {
      display: grid;
      grid-area: header;
      padding-top: 5%;
    }
  
  .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: footer;
      gap: 3em;
    }

  .main {
      grid-area: main;
      justify-self: center;
      align-self: center;
    }

  .main-title {
      justify-self: center;
      align-self: center;
      font-size: 3em;
      color: white;
  }

  .main-subtitle {
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    color: white;
  }

  .view-projects {
    margin-bottom: 5%;
    font-size: 1.5em;
    color: white;
  }

  .view-projects:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    color: #d7d7d7;
    cursor: pointer;
  }

  .view-projects:not(:hover) {
    transition: all 0.5s;
    transform: scale(1);
  }

  .view-center {
    margin-bottom: 5%;
    font-size: 1.5em;
    color: white;
  }

  .view-services {
      margin-bottom: 5%;
      font-size: 1.5em;
      color: white;
  }

  .view-services:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
    color: #d7d7d7;
    cursor: pointer;
  }

  .view-services:not(:hover) {
    transition-duration: 0.5s;
    transform: scale(1);
  }

  .demo-projects {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 3em;
  }

  @media  (max-width: 840px) {
    .demo-projects {
      gap: 0;
      flex-direction: column;
    }

    .card2, .card3 {
      position: absolute;
    }

    .card2 {
      opacity: 50%;
      z-index: -1;
      margin-left: 5em;
    }

    .card3 {
      opacity: 50%;
      z-index: -2;
      margin-right: 5em;
    }
  }
  
  .card {
      background-color: #1c1b29;
      border-radius: 20px;
      box-shadow: 0 0 30px rgba(0,0,0,0.18);
      width: 15em;
      cursor: pointer;
  }

  .card:hover {
      transition-duration: 0.5s;
      transform: scale(1.03);

  }

  .card:not(:hover) {
      transition-duration: 0.5s;
      transform: scale(1);
  }

  .img-container {
    position: relative;
  
  }

  .img-container img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
  }

  .img-container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
  }

  .im1 {
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 85%);
  }

  .im3 {
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  }

  .card1>.img-container:after {
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  }

  .card2 > .img-container:after {
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
  }

  .card3>.img-container:after {
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
  }

  .details {
    padding: 20px 10px;
  }

  .details > h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
    text-align: center;
  }

  .details > p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }

  label {
    color: white;
    font-size: 2em;
  }

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.form-control {
  border-radius: 20px;
  border: none;
  background-color: #1c1b29;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  align-self: end;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #1c1b29;
  color: white;
}

.btn-primary:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.about-me {
  color: white;
  font-size: 1.5em;
  max-width: 50em;
  text-align: justify;
  margin: auto;
  margin-top: 1cm;
}